/scala/
/bin/

.cache
.classpath
.project
.settings
target
bin
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
